#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  color: whitesmoke;
}

h2 {
  font-family: 'UnifrakturMaguntia', cursive;
}

#MusicBar :not(.show) {
  display: none;
}

#MusicBar .show {
  padding: 10px;
}

.row-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}