#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
}

p {
  color: whitesmoke;
}

.react-h5-audio-player > div {
  background-color: black !important;
}

.audio-info .time span {
  color: white !important;
}

.toggle-play-button {
  background-color: grey !important;
}

.toggle-play-button .pause-icon {
  box-shadow: grey 7px 0px 0px 0px inset !important;
}